---
nome: Web Developer e Designer
descrizione: Mi chiamo Matteo Tagliatti. Sono un web developer e designer situato vicino a Milano.
---

<!doctype html>
<html lang="it">

<head>
  {% include head.html %}
</head>

<body class="home">
    {% include overlay.html %}
    {% include logo.html %}

  {% include socials.html %}
  
  <div class="header">
      <div class="header-block">
          <h3>Matteo Tagliatti</h3>
          <h1><span class="color">Web</span> Developer <br>e Designer</h1>
      </div>
      <a href="#home-about" class="scroll-down"></a>
  </div>

  <div id="home-about" class="section home-about">
      <div class="wrap-wide">
          <div class="photo">
              <div class="image-box">
                  <img src="assets/img/placeholder-2.jpg" class="image-box-inside" alt="matteo tagliatti">
                  <img src="assets/img/placeholder-2.jpg" class="image-box-small" alt="matteo tagliatti">
                  <div class="image-box-overlay"></div>
              </div>
          </div>

          <div class="wrap">
              <div class="block-left">
                  <h2 class="light">Chi sono?</h2>
                  <p class="light">{{ page.descrizione }} Chiarezza e semplicità sono le mie linee guida.</p>
              </div>

              <div class="block-right">
                  <div class="col-left">
                      <h3 class="color">Development</h3>
                      <p class="light">HTML & CSS</p>
                      <p class="light">JavaScript</p>
                      <p class="light">PHP</p>
                      <p class="light">SQL</p>
                  </div>
                  <div class="col-right">
                      <h3 class="color">Design</h3>
                      <p class="light">Figma</p>
                      <p class="light">Photoshop</p>
                      <p class="light">Illustrator</p>
                  </div>
              </div>
              
          </div>

      </div>
  </div>

  <div class="section home-rw">
      <div class="wrap-wide">

          <div class="rw-title">
              <h2>Lavori recenti</h2>
              <a href="lavori.html" class="btn animatelink">Tutti i miei lavori<img src="/assets/img/arrow-small-light.svg"></a>
          </div>
          
          <div class="rw-cases">
                {% for lavoro in site.lavori %}
                    {% if lavoro.dove == 1 %}
                        <a href="{{ lavoro.url }}" class="rw-case animatelink false" style="{{ lavoro.sfondo }}">
                            <h3>{{ lavoro.data }}</h3>
                            <div class="arrow"></div>
                            <div class="case-title">
                                <h2>{{ lavoro.nome }}</h2>
                                <h2 style="{{ lavoro.colore }}">{{ lavoro.attivita }}</h2>
                            </div>
                            <img data-src="{{ lavoro.img }}" width="295" class="lazy">
                            <div class="rw-case-overlay"></div>
                        </a>
                    {% endif %}
                {% endfor %}
          </div>

      </div>
  </div>

    {% include footer.html %}
    {% include footer-scripts.html %}
</body>
</html>