---
nome: Libri
descrizione: I miei libri preferiti
---
<!DOCTYPE html>
<html lang="it">

<head>
    {% include head.html %}
</head>

<body>
    {% include overlay.html %}
    {% include logo.html %}

  {% include socials.html %}

  <div class="section sub-header case-header" style="background: #EEF0F0 url('/assets/img/line-case.svg') 15vw top no-repeat; background-size: contain;">
    <div class="wrap-wide">
       <div class="case-block">
        <div class="case-left">
            <h3></h3>
            <div class="case-title">
                <h1>I miei libri</h1>
                <h1><span class="color">preferiti</span></h1>
            </div>
            <a href="#intro" class="btn more-info">Tutte i titoli <img src="/assets/img/arrow-small-light.svg"></a>
        </div>
            <div class="case-right">
                <img src="{{ page.img }}">
            </div>
        </div>
    </div>
 </div>

    <div id="intro" class="section case-intro">
        <div class="books-container">
            <div class="books-grid books-grid-sidebar">

                    <div class="side-layout-content">
                        <div role="list" class="grid-thirds">

                            {% for libro in site.data.libri %}
                                <div role="listitem">
                                    <div class="book-cover-wrap">
                                        <img data-src="{{ libro.img }}" alt="{{ libro.titolo }}" class="book-cover lazy">
                                    </div>
                                    <div class="book-title">{{ libro.titolo }}</div>
                                    <div class="book-author">{{ libro.autore }}</div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>

            </div>
        </div>
    </div>

    <div style="padding: 0 0 140px 0; background: #fff;" class="section">
        <div class="wrap-wide">
            <div class="rw-title">
                <a href="/log.html" class="btn more-info" style="background: #191A1E; color: #fff; border: none;">Tutti i libri e non solo<img src="/assets/img/arrow-small-light.svg"></a>
            </div> 
        </div>
    </div>

    {% include footer-scripts.html %}
</body>

</html>