---
nome: Log
descrizione: Questa è la lista di cose che leggo o guardo.
---
<!DOCTYPE html>
<html lang="it">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="shortcut icon" href="/assets/img/favicon.ico">
    
    <link href="/assets/css/normalize.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/animations.css" rel="stylesheet">
    <link href="/assets/css/log.css" rel="stylesheet">

    <title>{{ page.nome }} - Matteo Tagliatti</title>
    <meta name="description" content="{{ page.descrizione }}">

    {% seo %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>

<body class="home-blog">
    {% include overlay.html %}

    <div class="container">
        <div class="blackbox">
            <span class="blog-title">> Ciao</span>
            <br>
            <span class="blog-title">> Queste sono le cose che leggo, guardo o ascolto.</span>
            <br>
            <span class="blog-title">< <a href="/index.html">Torna alla Home</a></span>
        </div>

        {% for log in site.data.log %}
        <div class="blog-post">
            <h1 class="blog-post-title">{{ log.data }}</a></h1>
            <div class="blog-post-text">
                
                {% if log.book %}
                <div class="section">
                    <span class="passive">&gt;_</span> Libri
                </div>
                    <ul>
                        {% assign i = 0 %}
                        {% for book in log.book %}
                        <li>{{ log.book[i] }}</li>
                        {% assign i = i | plus:1 %}
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if log.music %}
                <div class="section">
                    <span class="passive">&gt;_</span> Musica
                </div>
                    <ul>
                        <li>{{ log.music }}</li>
                    </ul>
                {% endif %}

                {% if log.movie %}
                <div class="section">
                    <span class="passive">&gt;_</span> Film
                </div>
                    <ul>
                        <li>{{ log.movie }}</li>
                    </ul>
                {% endif %}

                {% if log.tvserie %}
                <div class="section">
                    <span class="passive">&gt;_</span> Serie TV
                </div>
                    <ul>
                        <li>{{ log.tvserie }}</li>
                    </ul>
                {% endif %}

                {% if log.podcast %}
                <div class="section">
                    <span class="passive">&gt;_</span> Podcast
                </div>
                    <ul>
                        <li>{{ log.podcast }}</li>
                    </ul>
                {% endif %}

                {% if log.youtube %}
                <div class="section">
                    <span class="passive">&gt;_</span> YouTube
                </div>
                    <ul>
                        <li>{{ log.youtube }}</li>
                    </ul>
                {% endif %}

                {% if log.article %}
                <div class="section">
                    <span class="passive">&gt;_</span> Articoli
                </div>
                    <ul>
                        <li>{{ log.article }}</li>
                    </ul>
                {% endif %}

                {% if log.manga %}
                <div class="section">
                    <span class="passive">&gt;_</span> Manga
                </div>
                    <ul>
                        <li>{{ log.manga }}</li>
                    </ul>
                {% endif %}

                <div class="blog-post-bottom"></div>

            </div>
        </div>
        {% endfor %}

        <div style="margin-bottom: 20px; margin-left: 10px;">
            <span>< <a href="/index.html">Torna alla Home</a></span>
        </div>

    </div>

    {% include footer-scripts.html %}
</body>

</html>