<div class="section footer">
  <div class="wrap-wide">
    <h3>Ti piace il mio lavoro?</h3>
    <h2><span class="color">Parliamo!</span></h2>
    <a href="mailto:{{ site.email }}" class="btn">{{ site.email }}<img src="/assets/img/arrow-small-light.svg"/></a>

    <div class="footer-block">
      <p>&copy; {{ site.author }}</p>
      <div class="socials-footer">
        <a href="{{ site.social-network-links.github }}" target="_blank"class="social-btn gh"></a>
        <a href="{{ site.social-network-links.instagram }}" target="_blank" class="social-btn ig"></a>
        <a href="{{ site.social-network-links.linkedin }}" target="_blank" class="social-btn li"></a>
        <a href="{{ site.social-network-links.libri }}" class="social-btn books"></a>
      </div>
    </div>
  </div>
</div>
