ul {
  margin: 0px 0px 20px 0px;
}

.home-blog {
  font-family: "Roboto Mono", Courier, Helvetica, sans-serif;
  background-color: #ffffff;
  color: #4b4b4b;
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 0px;
  padding-left: 0px;
}

.blackbox {
  background-color: #353535;
  color: #cad2d4;
  border: 1px solid #353535;
  border-radius: 0px;
  padding: 15px;
  text-decoration: none;
  margin-bottom: 30px;
}

.blog-title {
  font-family: "Roboto Mono", Courier, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #cad2d4;
  line-height: 21px;
  text-decoration: none;
}

.blog-post {
  padding-left: 15px;
  padding-right: 15px;
}

.blog-post-title {
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  font-weight: 700;
  letter-spacing: -1.5px;
  -webkit-font-smoothing: antialiased;
  color: #353535;
  margin-bottom: 20px;
  font-size: 30px;
}

.blog-post-text {
  font-family: "Roboto Mono", "Courier", "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #4b4b4b;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
}

.section {
  font-family: "Roboto Mono", "Courier", "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #4b4b4b;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.passive {
  font-weight: normal;
  color: #cad2d4;
}

.blog-post-text p {
  margin-bottom: 20px;
}

.title {
  color: #4b4b4b;
  text-decoration: none;
  background-color: #f2e39b;
  padding: 1px 5px;
  border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.blog-post-bottom {
  margin-bottom: 45px;
  padding-bottom: 20px;
  border-bottom: 1px solid #c8caca;
}

@media (min-width: 1200px) {
  .container {
    width: 650px;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 650px;
    max-width: 100%;
  }
}

@media (min-width: 576px) {
  .blackbox {
    margin-top: 50px;
    margin-bottom: 70px;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 14px;
  }
}

@media screen and (max-width: 1260px) {
  a {
    font-size: 18px;
  }
}
