<!DOCTYPE html>
<html lang="it">
    
<head>
    {% include head.html %}
</head>
    
<body >
    {% include overlay.html %}
    {% include logo.html %}

    {% include socials.html %}
    
    <div class="section sub-header case-header" style="{{ page.sfondo }} url('/assets/img/line-case.svg') 15vw top no-repeat; background-size: contain;">
        <div class="wrap-wide">
            <div class="case-block">
                <div class="case-left">
                    <h3>{{ page.data }}</h3>
                    <div class="case-title">
                        <h1>{{ page.nome }}</h1>
                        <h1 style="{{ page.colore }}">{{ page.attivita }}</h1>
                    </div>
                    <a href="#intro" class="btn more-info">Tutte le info <img src="/assets/img/arrow-small-light.svg"></a>
                </div>
                <div class="case-right">
                    <img src="{{ page.img }}">
                </div>
            </div>
        </div>
    </div>

    <div id="intro" class="section case-intro">
        <div class="wrap">
            <div class="sub-wrap left">
                <h3></h3>
                <h2>Il mio lavoro</h2>
                <p>{{ page.descrizione }} {{ page.descrizione2 }}</p>
            </div>
            <div class="sub-wrap right">
                <h3>Servizi</h3>
                <p>{{ page.attivita }}</p>
                <div class="stripe"></div>
                <h3>Attività</h3>
                <p>{{ page.ambito }}</p>
                <div class="stripe"></div>
                <h3>Sito web</h3>
                <p>{{ page.sito }}</p>
            </div>
        </div>
    </div>

    <div class="section case-images">
        <div class="wrap-wide">
            <div class="slider-block-images">
                <div class="flexslider-images">
                    <ul class="slides">
                        <li>
                            <img src="{{ page.slide[0] }}">
                        </li>
                        <li>
                            <img src="{{ page.slide[1] }}">
                        </li>
                        <li>
                            <img src="{{ page.slide[2] }}">
                        </li>
                    </ul>
                </div>
                <div class="custom-controls-container-images"></div>
            </div>
        </div>
    </div>

    {% if page.desc2 == 1 %}
    <div class="section case-result-text">
        <div class="wrap">
            <h3></h3>
            <h2>Cosa ho fatto?</h2>
            <p>{{ page.descrizione3 }}</p>
        </div>
    </div>
    {% endif %}

    <div class="section case-images case-result" style="{{ page.sfondo }}">
        <div class="wrap-wide">
            <div class="slider-block-images">
                <div class="flexslider-results">
                    <ul class="slides">
                        {% assign i = 0 %}
                        {% for slide-grande in page.slide-grandi %}
                        <li>
                            <div class="wrap">
                                <img src="{{ page.slide-grandi[i] }}">
                            </div>
                        </li>
                        {% assign i = i | plus:1 %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="custom-controls-container-results"></div>
            </div>
        </div>
    </div>

    <div class="section home-rw s">
        <div class="wrap-wide">
            <div class="rw-title">
                <a href="{{ page.altro-url }}" class="btn more-info" style="background: #191A1E; color: #fff; border: none;">Altro lavoro<img src="/assets/img/arrow-small-light.svg"></a>
            </div> 
        </div>
    </div>

    {% include footer.html %}
    {% include footer-scripts.html %}
</body>

</html>
